html, body {
 height: 100%;
 display: inline-block;
}


ul {
	min-height: 100%;
	display: inline-block;
	vertical-align: middle;
	list-style: none;
}

.mindmap.li {
 display: inline-block;
 vertical-align: middle;
 float: left;
 clear: left;
 margin-top: 12px;
 margin-bottom: 12px;
 text-decoration: underline;
}

ul ul {
	border-left: 1px solid black;
	margin-bottom: 10px;
	padding-top: 10px;
	border-radius: 16px;
	padding-left: 16px;
	margin-left: 16px;
	position: relative;
	text-decoration: underline;
}

ul ul:after{
	width: 16px;
	height: 16px;
	/*background-color: red;*/
	position: absolute;
	top: 50%;
    content: "";
	left: -11px;
	margin-top: -6px;
	width: 0; height: 0;
 	border: 4px solid;
    border-color: white black white white;
}
